{% extends "base.html" %}

{% load static %}
{% load django_vite %}

{% block title %}
  {{ active_instrument_label.name }}
{% endblock title %}

{% block ts_files %}
  {% vite_asset 'src/instruments/JumpToTop.ts' %}
  {% vite_asset 'src/instruments/AddName.ts' %}
  {% vite_asset 'src/instruments/DeleteName.ts' %}
{% endblock ts_files %}

{% block css_files %}
  <link rel="stylesheet"
        href="{% static 'assets/css/instruments/index.css' %}" />
{% endblock css_files %}

{% block content %}
  <div class="container d-flex align-items-center justify-content-center min-vh-80 py-4">
    <div class="container-border bg-white p-4 d-flex flex-column align-items-center flex-nowrap">
      <div class="w-100">
        <h2 class="notranslate">{{ active_instrument_label.name }}</h2>
        <hr class="w-100 mt-0" />
      </div>
      <div class="w-100">
        <table class="table table-sm table-striped table-bordered">
          <tbody>
            <tr>
              <th scope="row" class="w-20">Wikidata ID</th>
              <td>
                <a class="view-field notranslate"
                   href="https://www.wikidata.org/wiki/{{ instrument.wikidata_id }}"
                   target="_blank">{{ instrument.wikidata_id }}</a>
              </td>
            </tr>
            <tr>
              <th scope="row" class="w-20">Hornbostel-Sachs Classification</th>
              <td>
                <span class="view-field notranslate">{{ instrument.hornbostel_sachs_class }}</span>
              </td>
            </tr>
            <tr>
              <th scope="row" class="w-20">MIMO Classification</th>
              <td>
                <a class="view-field notranslate"
                   href="https://vocabulary.mimo-international.com/InstrumentsKeywords/en/page/{{ instrument.mimo_class }}"
                   target="_blank">{{ instrument.mimo_class }}</a>
              </td>
            </tr>
            <tr>
              <th scope="row" class="w-20">Instrument Names in Different Languages</th>
              <td>
                <div style="height: 300px;
                            resize: vertical"
                     class="overflow-y-scroll border border-gray-300 d-none d-lg-block">
                  <table class="table table-sm table-striped table-bordered table-hover mb-0">
                    <thead class="position-sticky top-0 align-top shadow-sm">
                      <tr>
                        <th scope="col" class="w-20">
                          <span>Language</span>
                        </th>
                        <th scope="col" class="w-20">
                          <span>Name</span>
                        </th>
                        {% if user.is_authenticated %}
                          <th scope="col" class="w-25">
                            <span>Verification Status</span>
                            <i class="bi bi-info-circle"
                               data-bs-toggle="modal"
                               data-bs-target="#statusInfoModal"
                               role="button"
                               aria-label="More information about statuses">
                            </i>
                          </th>
                        {% endif %}
                        {% if user.is_authenticated %}
                          <th scope="col" class="w-30">
                            <span>Alias</span>
                          </th>
                        {% else %}
                          <th scope="col" class="w-20">
                            <span>Alias</span>
                          </th>
                        {% endif %}
                        {% if user.is_authenticated %}
                          <th scope="col">
                            <span class="name-form-item">Actions</span>
                          </th>
                        {% endif %}
                      </tr>
                    </thead>
                    <tbody id="languageTableBody">
                      {% for lang, names in label_aliases_dict.items %}
                        <tr>
                          <td>
                            <div class="d-flex flex-row justify-content-between align-items-center gap-2 edit-container">
                              <span class="view-field flex-grow-1 notranslate force-ltr">{{ lang.en_label }}</span>
                            </div>
                          </td>
                          <td class="text-start">
                            <div class="d-flex flex-row justify-content-between align-items-center gap-2 edit-container"
                                 dir="{{ lang.html_direction }}">
                              <div>
                                <span class="view-field flex-grow-1 notranslate">{{ names.label.name }}</span>
                              </div>
                            </div>
                          </td>
                          {% if user.is_authenticated %}
                            <td>
                              <div class="d-flex flex-row justify-content-between align-items-center gap-2 edit-container">
                                {% if names.label.verification_status == 'verified' %}
                                  <span class="badge rounded-pill text-bg-success">Verified</span>
                                {% elif names.label.verification_status == 'unverified' %}
                                  <span class="badge rounded-pill text-bg-gray">Unverified</span>
                                {% elif names.label.verification_status == 'rejected' %}
                                  <span class="badge rounded-pill text-bg-danger">Rejected</span>
                                {% else %}
                                  <span class="badge rounded-pill text-bg-warning">Under Review</span>
                                {% endif %}
                              </div>
                            </td>
                          {% endif %}
                          <td>
                            <div class="d-flex flex-column gap-2">
                              {% for alias in names.aliases %}
                                <div class="p-2 rounded bg-light border d-flex justify-content-between align-items-center">
                                  <div class="d-flex flex-column flex-grow-1">
                                    <span class="notranslate">{{ alias.name }}</span>
                                    {% if user.is_authenticated %}
                                      <div>
                                        {% if alias.verification_status == 'verified' %}
                                          <span class="badge rounded-pill bg-success">Verified</span>
                                        {% elif alias.verification_status == 'unverified' %}
                                          <span class="badge rounded-pill bg-secondary">Unverified</span>
                                        {% elif alias.verification_status == 'rejected' %}
                                          <span class="badge rounded-pill bg-danger">Rejected</span>
                                        {% else %}
                                          <span class="badge rounded-pill bg-warning text-dark">Under Review</span>
                                        {% endif %}
                                      </div>
                                    {% endif %}
                                  </div>
                                  {% if user.is_authenticated %}
                                    <!-- TODO: Add a "More" button that links to the instrument name/alias in a popup -->
                                    <div class="action-buttons ms-2">
                                      <button class="btn btn-primary btn-sm"
                                              data-bs-toggle="modal"
                                              data-bs-target="#deleteNameModal"
                                              data-instrument-language="{{ alias.label.language.en_label }}"
                                              data-instrument-name="{{ alias.label.name }}"
                                              data-instrument-source="{{ alias.label.source_name }}"
                                              data-instrument-id="{{ alias.label.id }}"
                                              data-instrument-pk="{{ instrument.pk }}">
                                        Delete
                                      </button>
                                    </div>
                                  {% endif %}
                                </div>
                              {% endfor %}
                            </div>
                          </td>
                          {% if user.is_authenticated %}
                            <td>
                              <!-- TODO: Add a "More" button that links to the instrument name/alias in a popup -->
                              <div class="action-buttons">
                                <button class="btn btn-primary"
                                        data-bs-toggle="modal"
                                        data-bs-target="#deleteNameModal"
                                        data-instrument-language="{{ names.label.language.en_label }}"
                                        data-instrument-name="{{ names.label.name }}"
                                        data-instrument-source="{{ names.label.source_name }}"
                                        data-instrument-id="{{ names.label.id }}"
                                        data-instrument-pk="{{ instrument.pk }}">
                                  Delete
                                </button>
                              </div>
                            </td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- Stacked layout for small screens only -->
                <div class="d-lg-none" id="languageTableBodyMobile">
                  {% for lang, names in label_aliases_dict.items %}
                    <div class="border rounded p-2 mb-2">
                      <!-- Language -->
                      <div class="mb-1">
                        <div class="fw-bold text-muted small">Language</div>
                        <div class="force-ltr notranslate">
                          <span class="view-field">{{ lang.en_label }}</span>
                        </div>
                      </div>
                      <!-- Name -->
                      <div class="mb-1">
                        <div class="fw-bold text-muted small">Name</div>
                        <div class="d-flex flex-row notranslate" dir="{{ lang.html_direction }}">
                          <div>
                            <span class="view-field text-start">{{ names.label.name }}</span>
                          </div>
                        </div>
                      </div>
                      {% if user.is_authenticated %}
                        <!-- Status column -->
                        <div class="col-12 mb-1">
                          <div class="fw-bold text-muted small mb-1">
                            Verification Status
                            <i class="bi bi-info-circle"
                               data-bs-toggle="modal"
                               data-bs-target="#statusInfoModal"
                               role="button"
                               aria-label="More information about statuses">
                            </i>
                          </div>
                          <div class="d-flex flex-wrap flex-md-nowrap gap-2 align-items-center edit-container">
                            {% if names.label.verification_status == 'verified' %}
                              <span class="badge rounded-pill text-bg-success">Verified</span>
                            {% elif names.label.verification_status == 'unverified' %}
                              <span class="badge rounded-pill text-bg-gray">Unverified</span>
                            {% elif names.label.verification_status == 'rejected' %}
                              <span class="badge rounded-pill text-bg-danger">Rejected</span>
                            {% else %}
                              <span class="badge rounded-pill text-bg-warning">Under Review</span>
                            {% endif %}
                          </div>
                        </div>
                      {% endif %}
                      <!-- Aliases -->
                      <div class="mb-1">
                        {% if names.aliases %}
                          <div class="fw-bold text-muted small">Alias</div>
                          <div class="alias-list">
                            <div class="d-flex flex-column gap-2">
                              {% for alias in names.aliases %}
                                <div class="p-2 rounded bg-light border d-flex justify-content-between align-items-center">
                                  <div class="d-flex flex-column flex-grow-1">
                                    <span class="notranslate">{{ alias.name }}</span>
                                    {% if user.is_authenticated %}
                                      <div>
                                        {% if alias.verification_status == 'verified' %}
                                          <span class="badge rounded-pill bg-success">Verified</span>
                                        {% elif alias.verification_status == 'unverified' %}
                                          <span class="badge rounded-pill bg-secondary">Unverified</span>
                                        {% elif alias.verification_status == 'rejected' %}
                                          <span class="badge rounded-pill bg-danger">Rejected</span>
                                        {% else %}
                                          <span class="badge rounded-pill bg-warning text-dark">Under Review</span>
                                        {% endif %}
                                      </div>
                                    {% endif %}
                                  </div>
                                  {% if user.is_authenticated %}
                                    <!-- TODO: Add a "More" button that links to the instrument name/alias in a popup -->
                                    <div class="action-buttons ms-2">
                                      <button class="btn btn-primary btn-sm"
                                              data-bs-toggle="modal"
                                              data-bs-target="#deleteNameModal"
                                              data-instrument-language="{{ alias.label.language.en_label }}"
                                              data-instrument-name="{{ alias.label.name }}"
                                              data-instrument-source="{{ alias.label.source_name }}"
                                              data-instrument-id="{{ alias.label.id }}"
                                              data-instrument-pk="{{ instrument.pk }}">
                                        Delete
                                      </button>
                                    </div>
                                  {% endif %}
                                </div>
                              {% endfor %}
                            </div>
                          </div>
                        {% endif %}
                      </div>
                      <!-- Action -->
                      {% if user.is_authenticated %}
                        <!-- TODO: Add a "More" button that links to the instrument name/alias in a popup -->
                        <div class="action-buttons my-2">
                          <button class="btn btn-primary"
                                  data-bs-toggle="modal"
                                  data-bs-target="#deleteNameModal"
                                  data-instrument-language="{{ names.label.language.en_label }}"
                                  data-instrument-name="{{ names.label.name }}"
                                  data-instrument-source="{{ names.label.source_name }}"
                                  data-instrument-id="{{ names.label.id }}"
                                  data-instrument-pk="{{ instrument.pk }}">
                            Delete
                          </button>
                        </div>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
                <!-- Button below the table -->
                <div class="my-2 d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-md-end">
                  <div class="add-name-container">
                    {% if user.is_authenticated %}
                      <button type="button"
                              class="btn btn-primary"
                              data-bs-toggle="modal"
                              data-bs-target="#addNameModal"
                              data-instrument-name="{{ active_instrument_label.name }}"
                              data-instrument-wikidata-id="{{ instrument.wikidata_id }}"
                              data-instrument-pk="{{ instrument.pk }}">
                        Add Instrument Name
                      </button>
                    {% else %}
                      <a href="{% url 'main:login' %}?next={{ request.path }}"
                         class="btn btn-primary"
                         role="button">Add
                      Instrument Name</a>
                    {% endif %}
                  </div>
                </div>
                {% include "instruments/includes/deleteName.html" %}
                {% include "instruments/includes/addName.html" %}
                {% include "instruments/includes/statusInfo.html" %}

              </td>
            </tr>
            <tr>
              <th scope="row" style="width: 20%">Image</th>
              <td>
                <div class="d-flex flex-row flex-wrap">
                  <img src="{% static instrument.default_image.url %}"
                       alt="{{ instrument.default_image.url }}"
                       class="rounded mw-50" />
                  <a class="ms-2"
                     href="{% static instrument.default_image.url %}"
                     target="_blank">View image in full
                  size</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% include "instruments/includes/jumpToTop.html" %}

{% endblock content %}
