<h2>New Instrument Names</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Source</th>
  </tr>
  {% for instrument in instrument_names %}
  <tr>
    <td>{{ instrument.name }}</td>
    <td>{{ instrument.source_name }}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="2">No contacts found.</td>
  </tr>
  {% endfor %}
</table>
<button type="button" class="btn btn-secondary" id="authorizeBtn">
  Submit to Wikidata
</button>

<!--script to handle the button click and submit data to Wikidata-->
<script>
  document.getElementById("authorizeBtn").onclick = function () {
    fetch("{% url 'get_wikidata_access_token' %}")
      .then((response) => response.json())
      .then((data) => {
        // Check if access token is available
        if (data.access_token) {
          fetch("{% url 'publish' %}"); // Call the publish endpoint
          alert("Instrument names submitted to Wikidata successfully.");
          window.location.reload();
        } else {
          // If access token is not available, redirect to authorization
          window.location.href = "{% url 'wikidata_authorize' %}";
        }
      });
  };
</script>
