VERSION=0.1.0

HOST_NAME=umil.linkedmusic.ca

## WEB APP ##
#DJANGO_SECRET_KEY=ADD DJANGO SECRET KEY HERE

## DATABASE ##
POSTGRES_DB=virtual_instrument_museum
#POSTGRES_USER=ADD USER HERE
#POSTGRES_PASSWORD=ADD PASSWORD HERE

# TEST DATABASE
TEST_POSTGRES_DB=vim_test_db
TEST_POSTGRES_USER=test_user
TEST_POSTGRES_PASSWORD=test_password

## EMAIL ##
# PROD MODE ONLY
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
