{% extends "main/registration/registration_base.html" %}

{% block registration_title %}
  Register
{% endblock registration_title %}

{% block registration_content %}
  <div class="container content-container d-flex justify-content-center align-items-center">
    <div class="col-10 p-4 align-content-center account-container">
      {% if form.errors %}
        <div class="alert alert-danger p-2 z-2 message-container">
          {% for field, error in form.errors.items %}{{ error }}{% endfor %}
        </div>
      {% endif %}
      <div class="container z-1">
        <div class="row">
          <div class="col-6 my-4" id="registration">
            <h5 class="mb-4">
              <strong>Create a New Account</strong>
            </h5>
            <form method="post">
              {% csrf_token %}
              <div class="mt-4 mb-4">
                <label for="exampleInputEmail" class="form-label">Email Address</label>
                <div>{{ form.username }}</div>
              </div>
              <div class="mb-4">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <div>{{ form.password1 }}</div>
              </div>
              <div class="mb-4">
                <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                <div>{{ form.password2 }}</div>
              </div>
              <button type="submit" class="btn btn-primary account-btn" disabled>Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock registration_content %}
