{% extends "main/registration/registration_base.html" %}

{% block registration_title %}
  Reset Password
{% endblock registration_title %}

{% block registration_content %}
  <div class="container">
    <div class="row">
      <div class="mr-3 p-4 col-md-12">
        <div class="col-md mt-4 login-form">
          <h5>
            <strong>Password Reset Complete</strong>
          </h5>
          <p class="mt-4">
            Your password has been successfully reset. You can now <a href="{% url 'main:login' %}">log in</a> with your new password.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock registration_content %}
