{% extends "main/registration/registration_base.html" %}

{% block registration_title %}
  Reset Password
{% endblock registration_title %}

{% block left_column %}
  <h5>
    <strong>Password Reset Complete</strong>
  </h5>
  <p class="mt-4">
    Your password has been successfully reset. You can now <a href="{% url 'main:login' %}">log in</a> with your new password.
  </p>
{% endblock left_column %}

{% block right_column %}
{% endblock right_column %}

{% block mobile_link %}
{% endblock mobile_link %}
