@use "../variables" as *;

.content-container h4 {
  color: $umil-green-dark;
}

.content-container p {
  color: $umil-green-dark;
  font-size: 1rem;
  text-align: justify;
}

.content-container a {
  color: $umil-green-primary;
}
