{% extends "main/auth/registration_base.html" %}

{% block registration_title %}
  Change Password
{% endblock registration_title %}

{% block left_column %}
  <h5 class="mb-4">
    <strong>Change Password</strong>
  </h5>
  <form method="post">
    {% csrf_token %}
    <div class="mb-4">
      <label for="exampleInputPassword0" class="form-label">Current Password</label>
      <div>{{ form.old_password }}</div>
    </div>
    <div class="mb-4">
      <label for="exampleInputPassword1" class="form-label">New Password</label>
      <div>{{ form.new_password1 }}</div>
    </div>
    <div class="mb-4">
      <label for="exampleInputPassword2" class="form-label">
        Confirm New Password
      </label>
      <div>{{ form.new_password2 }}</div>
    </div>
    <button type="submit" class="btn btn-dark ">Change Password</button>
  </form>
{% endblock left_column %}
