{% extends "main/registration/registration_base.html" %}
{% block registration_title %}
    Reset Password
{% endblock registration_title %}
{% block registration_content %}
    <div class="container">
        <div class="row">
            <div class="mr-3 p-4 col-md-12">
                <div class="col-md mt-4 login-form">
                    <h5>
                        <strong>Set New Password</strong>
                    </h5>
                    <form class="mt-4" method="post">
                        {% csrf_token %}
                        {{ form.new_password1.label_tag }}
                        {{ form.new_password1 }}
                        {{ form.new_password2.label_tag }}
                        {{ form.new_password2 }}
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock registration_content %}
